PORT=3000

MONGODB_USER=yourMongoDBUsername
MONGODB_PASSWORD=yourMongoDBPassword
MONGODB_URL=yourMongoDBURL
MONGODB_DB=contacts

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret

ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=30d

SMTP_HOST=your_brevo_smtp_host
SMTP_PORT=your_brevo_smtp_port
SMTP_USER=your_brevo_smtp_user
SMTP_PASSWORD=your_brevo_smtp_password
SMTP_FROM=your_brevo_registered_email

JWT_SECRET=your_secret

APP_DOMAIN=http://localhost:3000/auth

ENABLE_CLOUDINARY=true

CLOUD_NAME=your_cloudinary_cloud_name
API_KEY=your_cloudinary_api_key
API_SECRET=your_cloudinary_api_secret

GOOGLE_AUTH_CLIENT_ID=your_google_client_id
GOOGLE_AUTH_CLIENT_SECRET=your_google_client_secret
GOOGLE_AUTH_REDIRECT_URI=http://localhost:3000/confirm-google-auth

